In [2]:
import pandas as pd

In [4]:
df = pd.read_excel('Calidad_red_movil_201811_WEB.xlsx',sheet_name='Datos')

In [6]:
df.head()

,COD_EMPRESA,PERIODO,ESTACIONBASE,RANGOHORARIO,COMUNA,REGION,DESCRIPCIONCOMUNA,TIPOEMPLAZAMIENTO,LLAMADASEXITO,INTENTOLLAMADA,LLAMADAINTERRUP,TIEMPOINTERRUP,PEE,PFE
0,Movistar,201811,HRAG1U01,1213,1404,1,Huara,R,2346,2349,83,0,0.998723,0.964621
1,Movistar,201811,DARCNA,1213,1101,1,Iquique,R,174,174,11,0,1.000000,0.936782
2,Movistar,201811,MINIMU01,1213,1404,1,Huara,R,30,30,1,0,1.000000,0.966667
3,Movistar,201811,PASUF6,1213,1401,1,Pozo Almonte,R,3168,3168,31,0,1.000000,0.990215
4,Movistar,201811,CMIQU,1213,1101,1,Iquique,U,2703,2703,87,0,1.000000,0.967814

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19967 entries, 0 to 19966
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   COD_EMPRESA        19967 non-null  object
 1   PERIODO            19967 non-null  int64
 2   ESTACIONBASE       19967 non-null  object
 3   RANGOHORARIO       19967 non-null  int64
 4   COMUNA             19967 non-null  int64
 5   REGION             19967 non-null  int64
 6   DESCRIPCIONCOMUNA  19967 non-null  object
 7   TIPOEMPLAZAMIENTO  19967 non-null  object
 8   LLAMADASEXITO      19967 non-null  int64
 9   INTENTOLLAMADA     19967 non-null  int64
 10  LLAMADAINTERRUP    19967 non-null  int64
 11  TIEMPOINTERRUP     19967 non-null  int64
 12  PEE                19967 non-null  float64
 13  PFE                19967 non-null  float64
dtypes: float64(2), int64(8), object(4)
memory usage: 2.1+ MB

In [11]:
df['REGION'].unique()

array([ 1, 10, 11, 12, 13, 14, 15, 16,  2,  3,  4,  5,  6,  7,  8,  9],
      dtype=int64)